@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    
    li {
    float: left;
    
    }
    
    li a {
    display: block;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    }

    li a:hover{
        background-color: #0acd0ae7;
    }

    .header{
    background-color: rgba(0, 0, 0, 0.7);;
   padding-right: 40px;
    display: flex;
    flex-direction: row;
    }
    .logo{
        width: 130px;
        height: 45px;
        padding-top: 7px;
    }
 
    .h1
    {
        margin: auto auto auto 100px;
    }

.container{
    width: 100%;
    height: 100vh;
    
   /* background-image: linear-gradient(#fb5353, #feba45); */
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    
  }
.info{
    display: flex;
    flex-direction: column;
    margin: 200px 250px 100vh 250px;
    align-items: center;
    align-content: center;
}
.info1  {
    margin-bottom: 20px;
    animation: neon 0.8s ease infinite;
    font-size: 60px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-weight: 900;
}
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #0acd0ae7, 0 0 20px #0acd0ae7, 0 0 20px #0acd0ae7, 0 0 20px #0acd0ae7, 0 0 2px #0acd0ae7, 2px 2px 2px #0acd0ae7;
        color: white;
    }
    50% {
        text-shadow: none;
        color: white;
    }
}
.info2{
    margin-bottom: 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn1{
    background-color: #0acd0ae7;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border:none;
    font-weight: 700;
}
.btn2{
    margin-top: 50px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 700;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    font-family: cursive;
}
span{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    margin-top: 20px;
    font-weight: 900;
}
@media screen and (max-width :600px)
{
    .info1{
        font-size: 30px;
    }
    li a{
        padding: 5px;
    }
    .info2{
        font-size: 10px;
    }
    
.info{
    display: flex;
    flex-direction: column;
    margin: 200px 0 100vh 0;
    align-items: center;
    align-content: center;
}
.h1{
    margin-left: 0px;
    margin-right: 10px;
}
.logo{
    height: 25px;
    width: 100px;
    padding-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
.header{
padding-right: 0px;
}
.btn2{
    width: 80px ;
    height: 20px;
    font-size: 8px;
}
 .btn1{
    width: 100px ;
    height: 20px;
    font-size: 8px;
}
span{
    font-size: 10px;
}
}
